/* these attributes affect the entire document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d9dcd6;
}
/*this div is a container for flex elements involving the main and aside panels */
.outermost {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
/* this div is a container for the flex elements within the main panel
containing the header and paragraph*/ 
.innermost {
    margin: 20px;
}

/* these attributes pertain to the header and its navigational list */
header {
    width: 100%;
    height: 80px;
    padding: 5px 20px;
    background-color: #2a607c;
    color: #ffffff;
}

.h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-content: flex-start;
    font-size: 48px;
    padding-top: 5px;
}

.seo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d9dcd6;
}

nav {
    display: flex;
    padding-top: 5px;
    justify-content: flex-end;
    font-size: 20px;
}

li {
    display: inline-flex;
    margin-left: 25px;
    list-style-type: none;
}

a {
    position: relative;
    top: -45px;
    color: #ffffff;
    text-decoration: none;
}
/* This is to scale the header once it no longer fits on screen entirely*/
@media screen and (max-width: 1000px) {
    header {
        width: 100%;
    }
    nav {
        margin-right: 0.1vw;
    }
    .h1 {
        font-size: 4.8vw;
    }
    li {
        margin-left: 2.5vw ;
        font-size: 2vw;
    }
}
/* for the head figure */
figure {
    display: inline-block;
    height: auto;
    max-height: 800px;
}

.banner-image {
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}
/* this is for the main sections */
p {
    font-size: 16px;
    margin-top: 20px;
}

h2 {
    display: inline;
    margin-bottom: 20px;
    font-size: 36px;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px 20px;
    align-items: center;
    margin-left: 20px;
    align-content: center;
}

main img {
    max-height: 200px;
    margin: 20px;
}

.search-engine-optimization, .online-reputation-management, .social-media-marketing{
    margin-top: 10px;
    margin-right: 20px;
    padding: 20px;
    height: auto;
    min-height: 300px;
    display: flex;
    background-color: #0072bb;
    color: #ffffff;
    align-items: center;
}

/* this is for the aside bar */
aside {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    clear: both;
    width: 22.5%;
    height: 100%;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* this is to make the ordering look nicer when in smaller window*/ 
@media screen and (max-width: 1000px){
    aside {
        margin-top: 20px;
        flex-direction: row;
        margin-left: 30px;
        width: 88%;
    }

    .content {
        width: 90%;
        margin-left: 30px;
    }

    .outermost {
        justify-content: flex-start;
        margin-bottom: 4vh;
    }

    aside p {
        margin-right: 30px;
        margin-left: 30px;
        text-align: center;
    }

}
